{% extends "dash.html" %}

{% block dash_app %}
<div>
	<h3 class="dash-title">{{tabletitle}}</h3>
	<div class="row">
		<form class="form-inline" style="margin-top:16px" method="post">
			{{form.csrf_token}}
			<div class="card easion-card">
				<div class="card-header">
					<div class="easion-card-icon">
						<i class="fas fa-table">&nbsp;&nbsp;&nbsp;&nbsp;</i>
					</div>
					<div class="form-group">		
						<div class="icon">
							<i class="far fa-calendar-plus"></i>
						</div>
						{{form.add}}
					</div>
					<div class="form-group">
						<div class="icon">
							<i class="far fa-calendar-minus"></i>
						</div>
						{{form.delete}}
					</div>
					<div class="form-group">
						<div class="icon">
							<i class="far fa-calendar-check"></i>
						</div>
						{{form.save}}
					</div>
					<div class="form-group">
						<div class="icon">
							<i class="far fa-calendar-times"></i>
						</div>
						{{form.restore}}
					</div>
				</div>
				<div class="card-body ">
					{% if db_status == 2 %}
					<form class="form-inline" method="post">
						<span>请输入要删除的记录的编号：</span>
						{{delete_form.number(value=1)}}
						&nbsp;
						{{delete_form.submit}}
						<br>
						<br>
					</form>
					{% endif %}
					<table class="table table-striped table-in-card">
						<thead>
							<tr>
								{% for atb in atbs %}
								<th scope="col">{{ atb }}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for record in records %}
							<tr>
								<th scope="row">{{record[0]}}</th>
								{% for item in record[1:] %}
								<td>{{ item }}</td>
								{% endfor %}
							</tr>
							{% endfor %}
							{% if db_status == 1 %}
							<tr>
								<th scope="row">*</th>
								{% for add_form in add_forms %}
								<td>
								{{ add_form.content }}
								</td>
								{% endfor %}
							</tr>
							{% endif %}
							<!-- 为了美观，表格最下面空一行 -->
							{% if atbs %}
							<tr>
								{% for atb in atbs %}
								<td>&nbsp;</td>
								{% endfor %}
							</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock dash_app %}
