{% extends "base.html" %}

{% block app_content %}
<div class="form-screen">
	<a href="{{url_for('account.index')}}" class="easion-logo">
		<span>•ω•&nbsp;&nbsp;学生管理系统</span>
	</a>
	<div class="card account-dialog">
		<div class="card-header bg-primary text-white">修改密码</div>
		<div class="card-body">
			<form method="post">
				{{form.csrf_token}}
				<div class="form-group">
					<span>旧密码：</span>
					{{form.oldpwd}}
				</div>
				<div class="form-group">
					<span>新密码：</span>
					{{form.password1}}
				</div>
				<div class="form-group">
					<span>重复密码：</span>
					{{form.password2}}
				</div>
				<div class="account-dialog-actions">
					<a href="{{url_for('account.panel')}}" class="btn btn-primary">{{form.submit}}</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock app_content %}
