{% extends "dash.html" %}

{% block dash_app %}
<div>
	<h2 class="dash-title" align="center">
		<br><span>•ω•&nbsp;&nbsp;欢迎来到学生管理系统！</span>
	</h2>
	<div align="center">
		本系统由&nbsp;
		<a href="https://gitlab.com/FrancisOWO/flaskdemo" target="_blank">FrancisOWO</a>
		&nbsp;开发
	</div>
	<br><div align="center">version 1.0</div>
</div>
{% endblock dash_app %}
