{% extends "base.html" %}

{% block app_content %}
<div class="form-screen">
	<a href="{{url_for('account.index')}}" class="easion-logo">
		<span>•ω•&nbsp;&nbsp;学生管理系统</span>
	</a>
	<div class="card account-dialog">
		<div class="card-header bg-primary text-white">用户注册</div>
		<div class="card-body">
			<form method="post">
				{{form.csrf_token}}
				<div class="form-group">
					<span>昵称：</span>
					{{form.username}}
				</div>
				<div class="form-group">
					<span>密码：</span>
					{{form.password1}}
				</div>
				<div class="form-group">
					<span>重复密码：</span>
					{{form.password2}}
				</div>
				<div class="account-dialog-actions">
					<a class="btn btn-primary">{{form.submit}}</a>
					<a class="account-dialog-link" href="{{url_for('account.login')}}">去登录</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock app_content %}
